.btn {
  width: 157px;
  height: 44px;
  padding: 8px, 32px, 8px, 32px;
  background: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem 0;
}
